<div class="container">
    <div class="scrollable-content">
        <div class="days">
            <div class="day">
                <div class="header">
                    <span class="date">02 Dec - Mon </span>
                    <span class="task-number">4</span>
                </div>
                <div class="tasks">
                    <div class="task card">
                        <p class="label">Set final deadline </p>
                        <p>
                            <i class="bi-clock"></i>
                            <span>14:00 - 15:30</span>
                        </p>
                    </div>
                    <div class="task card">
                        <p class="label">Set final deadline </p>
                        <div class="badge">
                            <span class="priority critical">Critical</span>
                            <span class="group">Group</span>
                        </div>
                        <p>
                            <i class="bi-clock"></i>
                            <span>14:00 - 15:30</span>
                        </p>
                    </div>
                    <button class="dashed add">
                        <i class="bi-plus-circle-dotted"></i>
                        <span>Add Task</span>
                    </button>
                </div>
            </div>
            <div class="day">
                <div class="header">
                    <span class="date">03 Dec - Tue </span>
                    <span class="task-number">4</span>
                </div>
                <div class="tasks">
                    <!-- <div class="task card">
                        <p class="label">Set final deadline </p>
                        <div class="badge">
                            <span class="priority critical">Critical</span>
                            <span class="group">Group</span>
                        </div>
                        <p>
                            <i class="bi-clock"></i>
                            <span>14:00 - 15:30</span>
                        </p>
                    </div> -->
                    <button class="dashed add">
                        <i class="bi-plus-circle-dotted"></i>
                        <span>Add Task</span>
                    </button>
                </div>
            </div>
            <div class="day">
                <div class="header">
                    <span class="date">04 Dec - Wed </span>
                    <span class="task-number">4</span>
                </div>
                <div class="tasks">
                    <div class="task card">
                        <p class="label">Set final deadline </p>
                        <div class="badge">
                            <span class="priority critical">Critical</span>
                            <span class="group">Group</span>
                        </div>
                        <p>
                            <i class="bi-clock"></i>
                            <span>14:00 - 15:30</span>
                        </p>
                    </div>
                    <button class="dashed add">
                        <i class="bi-plus-circle-dotted"></i>
                        <span>Add Task</span>
                    </button>
                </div>
            </div>
            <div class="day">
                <div class="header">
                    <span class="date">05 Dec - Thu </span>
                    <span class="task-number">4</span>
                </div>
                <div class="tasks">
                    <div class="task card">
                        <p class="label">Set final deadline </p>
                        <div class="badge">
                            <span class="priority critical">Critical</span>
                            <span class="group">Group</span>
                        </div>
                        <p>
                            <i class="bi-clock"></i>
                            <span>14:00 - 15:30</span>
                        </p>
                    </div>
                    <button class="dashed add">
                        <i class="bi-plus-circle-dotted"></i>
                        <span>Add Task</span>
                    </button>
                </div>
            </div>
            <div class="day">
                <div class="header">
                    <span class="date">06 Dec - Fri </span>
                    <span class="task-number">4</span>
                </div>
                <div class="tasks">
                    <div class="task card">
                        <p class="label">Set final deadline </p>
                        <!-- <div class="badge">
                            <span class="priority critical">Critical</span>
                            <span class="group">Group</span>
                        </div>
                        <p>
                            <i class="bi-clock"></i>
                            <span>14:00 - 15:30</span>
                        </p> -->
                    </div>
                    <button class="dashed add">
                        <i class="bi-plus-circle-dotted"></i>
                        <span>Add Task</span>
                    </button>
                </div>
            </div>
            <div class="day">
                <div class="header">
                    <span class="date">07 Dec - Sat </span>
                    <span class="task-number">4</span>
                </div>
                <div class="tasks">
                    <div class="task card">
                        <p class="label">Set final deadline </p>
                        <div class="badge">
                            <span class="priority critical">Critical</span>
                            <span class="group">Group</span>
                        </div>
                        <p>
                            <i class="bi-clock"></i>
                            <span>14:00 - 15:30</span>
                        </p>
                    </div>
                    <button class="dashed add">
                        <i class="bi-plus-circle-dotted"></i>
                        <span>Add Task</span>
                    </button>
                </div>
            </div>
            <div class="day">
                <div class="header">
                    <span class="date">08 Dec - Sun </span>
                    <span class="task-number">4</span>
                </div>
                <div class="tasks">
                    <div class="task card">
                        <p class="label">Set final deadline </p>
                        <div class="badge">
                            <span class="priority critical">Critical</span>
                            <span class="group">Group</span>
                        </div>
                        <p>
                            <i class="bi-clock"></i>
                            <span>14:00 - 15:30</span>
                        </p>
                    </div>
                    <button class="dashed add">
                        <i class="bi-plus-circle-dotted"></i>
                        <span>Add Task</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>