.container{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 61%;
    overflow: hidden;
}
.scrollable-content{
    flex: 1 1 auto;
    overflow-y: hidden;
}
.days{
    display: flex;
    flex-direction: row;
    height: 100%;
    .disabled{
        filter: contrast(75%) brightness(90%);
        button{
            display: none;
        }
    }
    .day{
        margin-left: 1em;
        width: fit-content;
        .label{
            margin-bottom: 1.5em;
        }
        .tasks{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .task{
            width: 15vw;
            margin-top: .5em;
            border-radius: .5em;
            background-color: white;
            padding: 0.1em 1em;
        }
        
        .dashed{
            border: 1px gray dashed;
            text-align: center;
            width: 15vw;
            margin-top: .5em;
            background: transparent !important;
            
        }
    }
}
.date{
    font-weight: bold;
}
