.container{
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 80%;
    overflow: hidden;
}
.project-header{
    display: flex;
    margin-bottom: 2em;
    &>span{
        font-size: 1.3rem;
        font-weight: bold;
    }
    button{
        margin-left: 3em;
        background: white;
        padding: 0.3em 0.4em;
    }
}
.project{
    flex: 1 1 auto; /* Take the remaining space */
    overflow-y: hidden; /* Enable scrolling if content overflows */
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap */
    align-content: flex-start; /* Align items to the start */
    box-sizing: border-box;
    padding: 0 .25em;
    &::-webkit-scrollbar-thumb{
        background-color: rgba(53, 68, 78, 0.5);
        border-radius: .15em;
    }  
}
.sections{
    display: flex;
    flex-direction: row;
    height: 100%;
    .section{
        margin-left: 1em;
        width: fit-content;
        margin-bottom: 2em;
        .header{
            display: flex;
            justify-content: space-between;
            .btn-container>button{
                margin-left: .5em;
            }
        }
        .label{
            margin-bottom: 1.5em;
        }
        .tasks{
            display: flex;
            flex-direction: column;
            align-items: center;
            height: 100%;
            overflow-x: hidden;
            overflow-y: auto;
            &::-webkit-scrollbar-thumb{
                display: none;       
            }
            &:hover{
                &::-webkit-scrollbar-thumb{
                    display: block;
                    background-color: rgba(53, 68, 78, 0.5);
                    border-radius: .15em;
                }   
            }
        }
        .task{
            width: 15em;
            margin-top: .5em !important;
            border-radius: .5em;
            background-color: white;
            padding: 0.1em 1em;
            box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.185);
        }        
        .dashed{
            border: 1px gray dashed;
            text-align: center;
            width: 15vw;
            margin-top: .5em;
            background: transparent !important;
        }
    }   
    .section-title{
        font-weight: bold;
    } 
}