<div class="container">
    <div class="project-header">
        <span>Project Name</span>
        <button class="add">
            <i class="bi-plus-circle-dotted"></i>
            <span>Add Section</span>
        </button>
    </div>
    <div class="project">
        <div class="sections" cdkDropListGroup>
            @for (section of projects; track $index) {
                <div class="section">
                    <div class="header">
                        <span class="section-title">{{section.sectionLabel}}</span>
                        <div class="btn-container">
                            <button>
                                <i class="bi-plus-circle-fill"></i>
                            </button>
                            <button>
                                <i class="bi-three-dots"></i>
                            </button>
                        </div>
                    </div>
                    <div class="tasks dragable-container"
                        cdkDropList
                        [cdkDropListData]="section.tasks"
                        (cdkDropListDropped)="drop($event)"  
                    >
                        @for (task of section.tasks; track $index) {
                            <div class="task card dragable" cdkDragBoundary=".sections" cdkDrag>
                                <p class="label">{{task.label}}</p>
                                <div class="badge">
                                    <span class="priority critical">{{task.priority}}</span>
                                    <span class="group">{{task.group}}</span>
                                </div>
                                <p>
                                    <i class="bi-clock"></i>
                                    <span>{{task.dueDate}}</span>
                                </p>
                            </div>
                        }
                        <button class="dashed add">
                            <i class="bi-plus-circle-dotted"></i>
                            <span>Add Task</span>
                        </button>
                    </div>
                </div>
            } 
        </div>
    </div>
</div>