<div class="row">
    
    <!-- <div class="col-4">
    </div>
    <div class="col-8">
        <div class="btn-container row">
            <button class="btn-action">
                <i class="bi-calendar2-event"></i>
                <span>Today</span>
            </button>
            <button class="btn-action" (click)="weeklyView=true" [ngClass]="{'active': weeklyView}">
                <i class="bi-calendar2-week"></i>
                <span>Week</span>
            </button>
            <button class="btn-action" 
            (click)="weeklyView=false" 
            [ngClass]="{'active': !weeklyView}"
            >
                <i class="bi-calendar2-month"></i>
                <span>Month</span>
            </button>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-4">
        <app-month></app-month>
        <app-tasks></app-tasks>
    </div>
    <div class="col-8">
        <app-monthly *ngIf="!weeklyView"></app-monthly>
        <app-weekly *ngIf="weeklyView"></app-weekly>
    </div> -->
</div>